.profile__add-button {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: #f000;
  background-image: url(../../../images/icon/vector-cross.png);
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  align-self: center;
}
