.profile__name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  align-self: flex-end;
  max-height: 39px;
  color: #fff;
}

@media screen and (max-width: 720px) {
  .profile__name {
    font-size: 5.2vw;
  }
}

@media screen and (max-width: 588px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    height: 26px;
  }
}
